
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #020202;
}
.container{
    background-color: #f3f3f3;
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
    padding: 0.5em;
}
.title{
    padding:0.5em;
    margin-left: 0.5em;
}
.icon{
    font-size: 1.5em;
}
.title-text{
    font-size: 2em;
    font-weight: 500;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.display-section{
    overflow: hidden;
}
.display{
    font-size: 4em;
    font-weight: 600;
    text-align: right;
    width: 100%;
    border: none;
    padding: 2.2rem 0;
    color: inherit;
}
.top-keys{
    width: 80%;
    font-size: 0;
    margin-bottom: 1rem;
}
.top-keys button{
    width: 20%;
    font-size: 1rem;
    border: none;
    background-color: #f3f3f3;
    font-size: 1.2rem;
}
.grey-btns{
    color: #aeaeae;
}
.key-row{
    font-size: 0;
}
.key-row button{
    box-sizing: border-box;
    font-size: 1.5rem;
    border: #eaeaea solid 1px;
    width: 24.7%;
    padding: 1em;
    height: 5rem;
    background-color: #f9f9f9;
    margin: 1px;
    border-radius: 5px;
}
button:hover{
    background-color: #adaaaa !important;
}

.super-script{
    vertical-align: super;
    font-size: 0.7em;
}
.italic{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}
.smaller-text{
    font-size: 0.6em;
}
.neg-margin{
    margin-right: -10px;
}
.white-bg{
    background-color: #ffffff !important;
}
.equals-btn{
    background-color: #015a9e !important;
    color: #ffffff;
}
